<div style='float: left'>
      <h2>Events</h2>
      <div id="premium_events_pie" style='height: 400px; width: 400px'><div>
    </div>
    
    <script type="text/javascript">
    $(document).ready(function(){
      var events = <%= raw events %>
      $.plot('#premium_events_pie', events, {
        series: { pie: { show: true } },
        legend: { show: false }
      });
    });
    </script>
  