<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Present members</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/assets/modern-business.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript">
   $(document).ready(function(){
    $('.navbar .dropdown').hover(function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
    }, function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
    });
n})</script>

</head>

<body>

    

    <!-- Navigation -->
    



    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">DC MEMBERS
                    
                </h1>
                 <ul class="breadcrumb">
                  <li><a href="dcs.html">Home</a></li>
                  <li class="active">Current Members</li>
                </ul>
            </div>
 
        </div>

        

        <div class="row">

           

            <div class="col-md-3">
                <img class="img-responsive" src="assets/dcmembers/sp.jpg">
                <p>Catch me on :<br>
                 <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li></p>
            </div>
            <div class="col-md-8">
                <h2>Mentor : <a href="https://sites.google.com/site/shaligramiipsdavvindore/">Shaligram Prajapat </a></h2>
                <p style="text-align:justify;">Shaligram Prajapat  has received  Bachelor of Science in  Electronics from Devi Ahilya  University Indore in 1998,  Master of Science in Computer Science  in  2000 and Master of Technology in Computer Science  in 2007 from School of Computer Science & IT (Formerly - The Institute of Computer Science and Electronics  (I. C.S.E.) ) Devi Ahilya University ,Indore M.P. ,INDIA. He has Qualified UGC-NET (Computer Science and Applications) in 2005 and GATE(Computer Science and Engineering) in 2007 . He has worked as Reader in Pioneer Institute of Professional Studies (PIPS) Indore  in MCA department and joined International Institute of Professional Studies (IIPS) ,Devi Ahilya University Indore, as Reader for MCA and M.Tech Courses since 2007. </p>
            </div>
           
</div>
      

        <div class="row">

           <br><br><br>

            
            <div class="col-md-3 portfolio-item">
                
                    <img class="img-responsive" src="http://www.gravatar.com/avatar/ecb01e8b131d0fdcd6b1f11f38ca4462?s=200">
            
                <h3>Aditi Thakur
                </h3>
                <p>Catch me on :<br>
                 <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a target="_blank" href="https://www.facebook.com/aditi.thakur.16100" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a target="_blank" href="https://in.linkedin.com/pub/aditi-thakur/9a/84/306" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a target="_blank" href="https://twitter.com/aditi_73" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a target="_blank" href="https://plus.google.com/u/0/100225110041523286243/posts" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                     <li class="tooltip-social github-link"><a target="_blank" href="https://github.com/aditi73" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github-square fa-2x"></i></a>
                    </li></p>
               
                
            </div>





            <div class="col-md-3 portfolio-item">
                
                    <img class="img-responsive" src="https://s.gravatar.com/avatar/736963a684c42775fb450c678767f565?s=200">
            
                <h3>Amarpreet Jethra
                </h3>
                <p>Catch me on :<br>
                 <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a target="_blank" href="https://www.facebook.com/amarpreet.jethra" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a target="_blank" href="https://www.linkedin.com/profile/edit?trk=nav_responsive_sub_nav_edit_profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a target="_blank" href="https://twitter.com/amarpreetjethra?lang=en" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a target="_blank" href="https://plus.google.com/u/0/100925617168734404493/posts" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                     <li class="tooltip-social github-link"><a target="_blank" href="https://github.com/amarpreetjethra" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github-square fa-2x"></i></a>
                    </li></p>
               
                
            </div>

            <div class="col-md-3 portfolio-item">
                
                    <img class="img-responsive" src="http://www.gravatar.com/avatar/676a2c3bc42a593a82c516a88a26527f?s=200">
                
                <h3>Dhaval Purohit
                </h3>
                <p>Catch me on :<br>
                 <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a target="_blank" href="https://www.facebook.com/dhaval.purohit.92" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a target="_blank" href="https://in.linkedin.com/pub/dhaval-purohit/37/262/632" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a target="_blank" href="https://twitter.com/DhavalPurohit8" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a target="_blank" href="http://google.com/+DhavalPurohit8294","google.com/+DhavalPurohit8294" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                     <li class="tooltip-social github-link"><a target="_blank" href="https://github.com/dhaval0894" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github-square fa-2x"></i></a>
                    </li></p>
               
            </div>

             <div class="col-md-3 portfolio-item">
                
                    <img class="img-responsive" src="http://www.gravatar.com/avatar/45cd257584896161594a7fef7bba8602?s=200">
                
                <h3>Fatema Saifee
                </h3>
                <p>Catch me on :<br>
                 <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a target="_blank" href="https://www.facebook.com/saifee1711" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a target="_blank" href="https://www.linkedin.com/pub/fatema-saifee/99/823/396" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a target="_blank" href="https://twitter.com/saifee711" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a target="_blank" href="https://plus.google.com/+FatemaSaifee711/posts","google.com/+DhavalPurohit8294" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                     <li class="tooltip-social github-link"><a target="_blank" href="https://github.com/FatemaSaifee" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github-square fa-2x"></i></a>
                    </li></p>
               
            </div>

             <div class="col-md-3 portfolio-item">
                
                     <img class="img-responsive" src="https://s.gravatar.com/avatar/36828c2360b43c5562f8934a7e7e417c?s=200">
                
                <h3>Himanshi Nigam
                </h3>
                <p>Catch me on :<br>
                 <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a target="_blank" href="https://www.facebook.com/himanshi.nigam.524" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a target="_blank" href="https://www.linkedin.com/profile/view?id=AAIAABYUDsoBjz4K_wc8DYHRm_eye7CyG06aMeM&trk=nav_responsive_tab_profile_pic" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a target="_blank" href="https://twitter.com/HimanshiNigam1" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a target="_blank" href="https://plus.google.com/u/0/107118114326466176086/posts","google.com/+DhavalPurohit8294" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                     <li class="tooltip-social github-link"><a target="_blank" href="https://github.com/himanshinigam09" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github-square fa-2x"></i></a>
                    </li></p>
                
            </div>



        


      
           

            <div class="col-md-3 portfolio-item">
                  <img class="img-responsive" src="http://www.gravatar.com/avatar/70d467eea5f1665df04b4756e21d3b7c?s=200">
                
                <h3>Kajol Maheshwari
                </h3>
                <p>Catch me on :<br>
                 <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a target="_blank" href="https://www.facebook.com/kajol.maheshwari.1" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a target="_blank" href="https://in.linkedin.com/pub/kajol-maheshwari/21/859/530" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a target="_blank" href="https://twitter.com/maheshwarikajol" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a target="_blank" href="https://plus.google.com/u/0/110358286600608286315/posts" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                     <li class="tooltip-social github-link"><a target="_blank" href=" https://github.com/kmaheshwari" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github-square fa-2x"></i></a>
                    </li></p>
                   
               
            </div>
              <div class="col-md-3 portfolio-item">
                  <img class="img-responsive" src="http://www.gravatar.com/avatar/6dd92ea4edf5caedf8a3086b7402e673?s=200">
                
                <h3>Rahul Satal
                </h3>
                <p>Catch me on :<br>
                 <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a target="_blank" href="https://www.facebook.com/rahulsatal92" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a target="_blank" href="https://in.linkedin.com/pub/rahul-satal/a6/b/383" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a target="_blank" href="https://twitter.com/rahulsatal" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a target="_blank" href="https://plus.google.com/u/0/101454474180293880823/posts" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                     <li class="tooltip-social github-link"><a target="_blank" href=" https://github.com/rahul-satal" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github-square fa-2x"></i></a>
                    </li></p>
                   
               
            </div>
             <div class="col-md-3 portfolio-item">
                  <img class="img-responsive" src="http://www.gravatar.com/avatar/1d2d80e1c099a0427b1ce70c11d9aa49?s=200">
                
                <h3>Rohini Choudhary
                </h3>
                <p>Catch me on :<br>
                 <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a target="_blank" href=" https://www.facebook.com/rohini.chaudhary241" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a target="_blank" href="https://www.linkedin.com/pub/rohini-choudhary/94/797/869" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a target="_blank" href="https://twitter.com/rohini241" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a target="_blank" href="https://plus.google.com/+rohinichaudhary241/posts" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                     <li class="tooltip-social github-link"><a target="_blank" href=" https://github.com/rohinichoudhary" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github-square fa-2x"></i></a>
                    </li></p>
                   
               
            </div>
              <div class="col-md-3 portfolio-item">
                  <img class="img-responsive" src="http://www.gravatar.com/avatar/a6c9ed03e79c9b30a75cdeed80733c23?s=200">
                
                <h3>Sunny Raikwar
                </h3>
                <p>Catch me on :<br>
                 <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a target="_blank" href="https://www.facebook.com/sunny.raikwar.54" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                   
                    <li class="tooltip-social twitter-link"><a target="_blank" href="https://twitter.com/SunnySraikwar" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a target="_blank" href="https://plus.google.com/u/0/+SunnyRaikwarindore/posts" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                     <li class="tooltip-social github-link"><a target="_blank" href=" https://github.com/sunny-raikwar" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github-square fa-2x"></i></a>
                    </li></p>
                   
               
            </div>
            <div class="col-md-3 portfolio-item">
                  <img class="img-responsive" src="http://www.gravatar.com/avatar/4b21fec52016508a032b81c7ac15b3c6?s=200">
                
                <h3>Swati Jaiswal
                </h3>
                <p>Catch me on :<br>
                 <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a target="_blank" href="https://www.facebook.com/swati.jaiswal.10236" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a target="_blank" href="https://in.linkedin.com/pub/swati-jaiswal/98/baa/2b1" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a target="_blank" href="https://twitter.com/swati12jaiswal" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a target="_blank" href="https://plus.google.com/110860846254320536484/posts/p/pub" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>

                     <li class="tooltip-social github-link"><a target="_blank" href=" http://github.com/swati-jaiswal" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github-square fa-2x"></i></a>
                    </li></p>
                   
               
            </div>
             <div class="col-md-3 portfolio-item">
                  <img class="img-responsive" src="http://www.gravatar.com/avatar/941dc8ebd10ec50c6b7e718057d14533?s=200">
                
                <h3>Swati Mahajan
                </h3>
                <p>Catch me on :<br>
                 <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a target="_blank" href="http://www.facebook.com/swatimahajan08" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a target="_blank" href="https://in.linkedin.com/pub/swati-mahajan/94/798/649" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a target="_blank" href="https://twitter.com/SwatiMahajan08" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a target="_blank" href="https://plus.google.com/u/0/117391770873667240888/about " data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>

                     <li class="tooltip-social github-link"><a target="_blank" href=" https://github.com/swatimahajan" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github-square fa-2x"></i></a>
                    </li></p>
                   
               
            </div>


           

            <!-- <div class="col-md-3 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive" src="dev.JPG">
                </a>
                <h3><a href="#project-link">Devendra Malviya</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div> -->

            


            
  </div> 
</div>
  
  

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
    <script type="text/javascript">
        function data_submitted() {
           alert("Your data is submitted sucessfully.");
        }
    </script>
    <hr>


</body>

</html>