<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>About - Development Center</title>
    

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">
    <link href="assets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/half-slider.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/assets/modern-business.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css"> .imageHolder { position: relative; width: 100%; height: 400px; } .imageHolder:hover .caption { position: absolute; width: 100%; height: 30px; bottom: 0px; left: 0px; color: #ffffff; background: #191919; text-align:center;  opacity:0.7; } </style> 
    
    <script type="text/javascript">
$(document).ready(function () {
    $('.carousel').carousel({
        interval: 3000
    });

    $('.carousel').carousel('cycle');
});
</script> 
    <script type="text/javascript">
   $(document).ready(function(){
    $('.navbar .dropdown').hover(function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
    }, function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
    });
n})
   </script>
    <script>
        $( ".caption" ).hover(function() {
$( this ).fadeOut( 100 );
$( this ).fadeIn( 500 );
});
</script>

</head>

<body>
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">About us       
                </h1>
                <ul class="breadcrumb">
                  <li><a href="dcs.html">Home</a></li>
                  <li class="active">About Us</li>
                </ul>
            </div>
        </div>

                
    
    


    <!-- Navigation -->
    
<br/>
    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide" style="width:100%;height:400px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="imageHolder">
                <div class="fill" style="background-image:url('assets/DES.jpg');"></div>
                <div class="caption">
                    <i>National Conference(ITESM-2014)</i>
                </div>
                </div>

            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="imageHolder">
                <div class="fill" style="background-image:url('assets/exp3.jpg');"></div>
                <div class="caption">
                  <i> Sharing knowledge at KasturbaGram Rural Institutions </i>
                </div>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="imageHolder">
                <div class="fill" style="background-image:url('assets/exp4.jpg');"></div>
                <div class="caption">
                    <i>Making tribal students of KasturbaGram aware about basics of computers</i>
                </div>
            </div></div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
   
        
            <div class="row">
            <div id="align-center">
                <br><h2>History</h2><br>
                <p style="text-align:justify;">Envisioned in December 2000 immediate mission (in 2000) -Rendering low cost IT solutions to various government and social organizations, e-Governance and Social Computing Initiative Lead by the innovative instincts of its pro-active Director, nurtured with the acumen and resourcefulness of its pragmatic project managers of that time. IIPS-DC is driven passionate student teams working 24 X 7 with enthusiastic, committed and experts from Industries and Academia of its industrious team and Alumni. </p>
            

        
<hr>
       
        <!-- Details -->

        
                <h2>About Development Center</h2>
                    <br><br>
                <p style="text-align:justify;"><strong>"We learn most , When we want to invent - <a href="http://en.wikipedia.org/wiki/Jean_Piaget">Jean Piaget</a> "</strong></p>
  
                    IIPS D.C. is driven by the enthusiastic, committed .strongly motivated IIPS students and expertise of its industrious team and Mentor. <br><br>
   
                    Core areas for working  in Development Center are: <br>
                        <ul>
                            <li>Development and  Deployment of  IT -Products.</li>
                            <li>Training for Professional Development and future demand of Industries.</li>
                            <li>Research and Development Projects.</li>
                            <li>Technical Support for IIPS development.</li>
                            <li>Patron: Director International Institute of Professional Studies ,Devi Ahilya University Indore, INDIA.</li>
                        </ul>
                         <br>
  
                    At Present, IIPS-DC is working to meet following objectives.<br> 
                         <ul>
                            <li>To provide benefits to the society with lowcost IT products</li>
                            <li>To expose  the students with  live projects, imparting workplace professionalism and invaluable experience.</li>
                        </ul>
                    <hr>
  
                  
  
  
                    <h2>e-SCI</h2>
   
                    <p style="text-align:justify;">Envisioned in 2001.
                    Started with strong team of six members.
                    The aim of e-SCI lab is to work for social institutions and ergo, computerizing the tasks which are accomplished with tremendous efforts manually.
                    The project was automation of Regional Transport Office .
                    this  Center has served many organizations including
                    Madhya Pradesh Police,
                    Indore Municipal Corporation,
                    The  Apollo Hospital - Indore etc.
                    It assists in saving time and by innovative open source technology and software, makes the work user-friendly as well.
                    The e-SCI has undergone a continuous evolution since inception.
                    It is now established as a unique center of excellence in e-governance and low cost computing and is at the vanguard of 'Software for Society' in Malwa region of Central India.
                    Mission of e-SCI Lab at IIPS D.C. :
                    The aim of e-SCI lab is to work for social institutions and ergo, computerizing the tasks which are accomplished with tremendous efforts manually. It thereby, assists in saving time and by innovative technology and software, makes the work user-friendly as well.</p>
  
                     <p>
                    Visit professional linked in profile of IIPS Development Center ,Devi Ahilya University Indore ,INDIA.
                    </p>  <br/><br/>
                    <hr>                     
            </div>
        </div>
    
</div>
     
    <!-- /.container -->

  <script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap.js"></script>
  
    
</body>

</html>
