<style type="text/css">
    a:hover
    {
        text-decoration: none;
    
background: transparent;
}


</style>

<br/><br/>
<div class="container" style="background-color:#101010; color:#999;width :100%">
    <br/>
        <div class="row" style="text-align:center;">
                <div class="col-lg-4 col-md-4" >
                    <a target="_blank" href="/contact">Contact Us</a>
                   
                </div>
                <div class="col-lg-4 col-md-4">
                    <p>Site Developers</p>
                    <p><a target="_blank" href="http://amarpreetjethra.github.io/">Amarpreet Jethra</a> & <a target="_blank" href="http://himanshinigam09.github.io/">Himanshi Nigam</a></p>
                </div>
                
                <div class="col-lg-4 col-md-4">
                    <p>Copyright &copy; IIPSDC</p>
                </div>
            </div>
    
</div>
    