<div class="container" style="background-color:#101010; color:#999;width :100%">
    <br/>
        <div class="row" style="text-align:center;">
                <div class="col-lg-4 col-md-4" >
                    <p>Contact Us</p>
                   
                </div>
                <div class="col-lg-4 col-md-4">
                    <p>Site Developers</p>
                </div>
                
                <div class="col-lg-4 col-md-4">
                    <p>Copyright &copy; IIPSDC</p>
                </div>
            </div>
    
</div>
    