<<<<<<< HEAD
<style type="text/css">
    a:hover
    {
        text-decoration: none;
    }
</style>


=======
>>>>>>> 12f9edea1ff53daa1058a5ad9ef1f0581c3166bf
<div class="container" style="background-color:#101010; color:#999;width :100%">
    <br/>
        <div class="row" style="text-align:center;">
                <div class="col-lg-4 col-md-4" >
                    <p>Contact Us</p>
                   
                </div>
                <div class="col-lg-4 col-md-4">
                    <p>Site Developers</p>
                </div>
                
                <div class="col-lg-4 col-md-4">
                    <p>Copyright &copy; IIPSDC</p>
                </div>
            </div>
    
</div>
<<<<<<< HEAD
    
=======
    

   
>>>>>>> 12f9edea1ff53daa1058a5ad9ef1f0581c3166bf
