<<<<<<< HEAD
<style type="text/css">
    a:hover
    {
        text-decoration: none;
    
background: transparent;
}


</style>

=======
>>>>>>> 216b9ee33b1f74f9672d0e3e17ea96046f7a954d
<div class="container" style="background-color:#101010; color:#999;width :100%">
    <br/>
        <div class="row" style="text-align:center;">
                <div class="col-lg-4 col-md-4" >
<<<<<<< HEAD
                    <a target="_blank" href="/contact">Contact Us</a>
=======
                    <p>Contact Us</p>
>>>>>>> 216b9ee33b1f74f9672d0e3e17ea96046f7a954d
                   
                </div>
                <div class="col-lg-4 col-md-4">
                    <p>Site Developers</p>
<<<<<<< HEAD
                    <p><a target="_blank" href="http://amarpreetjethra.github.io/">Amarpreet Jethra</a> & <a target="_blank" href="http://himanshinigam09.github.io/">Himanshi Nigam</a></p>
=======
>>>>>>> 216b9ee33b1f74f9672d0e3e17ea96046f7a954d
                </div>
                
                <div class="col-lg-4 col-md-4">
                    <p>Copyright &copy; IIPSDC</p>
                </div>
            </div>
    
</div>
    